{% extends "layout.html" %}
{% block content %}
  <div class="home">
    <center>
      <h1>Hi!</h1>
      <h1>We are the #apmath-blockchain team</h1>
      <h1>and we are happy to share our project with you</h1>
      <p style="margin-top: 60px"><a href="{{ url_for('maps') }}" class="uploadbutton"><span style='font-size:20px; font-weight:bold;'>Map</span></a></p>
      <p style="margin-top: 60px"><a href="{{ url_for('get_full_chain') }}" class="uploadbutton"><span style='font-size:20px; font-weight:bold;'>Full chain	&#128279;</span></a></p>
      <p style="margin-top: 30px"><a href="{{ url_for('mine') }}" class="uploadbutton"><span style='font-size:20px; font-weight:bold;'>Mine</span></a></p>
    </center>
  </div>
{% endblock %}

