<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>Быстрый старт. Размещение интерактивной карты на странице</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <script src="https://api-maps.yandex.ru/2.1/?apikey=eb1710b3-8e30-4912-9ddf-ae30caffa825&lang=ru_RU"
            type="text/javascript">
    </script>
    <script type="text/javascript">
        ymaps.ready(init);
        function init(){
            var myMap = new ymaps.Map("map", {
                center: [55.76, 37.64],
                zoom: 7
            });
        }

    </script>
</head>

<body>

<p>{{responcse['chain']}}</p>
<div id="map" style="width: 600px; height: 400px"></div>
</body>

</html>